<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Update Post</title>
</head>
<body>
  <h1>Update Blog Post</h1>
  <form action="/post/update/<%= post._id %>" method="POST">
    <input type="text" name="title" value="<%= post.title %>" required /><br><br>
    <input type="text" name="image" value="<%= post.image %>" required /><br><br>
    <textarea name="content" rows="5" required><%= post.content %></textarea><br><br>
    <input type="text" name="category" value="<%= post.category %>" required /><br><br>
    <button type="submit">Update Post</button>
  </form>
</body>
</html>
